{{#extends 'base'}}

{{#block 'content'}}
<h1>Login</h1>
<p>Please login with your acccount below!</p>

<form method="POST">
    {{{forms}}}
    <button class="btn btn-info my-3">Login</button>
</form>



{{/block}}

{{/extends}}